/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .search_cont h2 {
        font-size: 48px;
    }
    .ctg_blk a{
    font-size: 35px;
}
.nl-right p {
    font-size: 22px;
    margin: 130px 0 90px;
}

.nl_left {
    height: 600px;
}

.nl-right {
    height: 600px;
}

.service_blk {
    max-width: 150px;
}
section.store-product section.food-store .container .mf_food {
    width: 230px;
}
.dlry_btn a {
    width: 230px;
    padding-right: 0;
    font-size: 17px;
}

.dlv_input_wrp label:first-child {
    width: 248px;
}
.your_order {
    max-width: 430px;
}

}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .top_menu a {
        font-size: 15px;
    }
    .header-two a.header-logo { 
        font-size: 13px;
    }
    .header-two a.header-logo img {
        max-width: 160px;
    }
    .header-two a.header-logo span {
        margin-left: 10px; 
        top: 9px;
    }

    .h_two_menu a {
        padding: 7px 12px;
        margin-left: 11px; 
    }
    .sub_menu a {
        font-size: 15px;
    }
    
    .service_blk:after {display: none;}

    .service_wrp {
        justify-content: space-around;
    }
    
    .service_blk {
        margin: 20px;
    }
    
    .search_cont h2 {
        font-size: 36px;
    }
    
    .input_box {
        max-width: 580px;
    }
    
    .search_cont span {
        max-width: 570px;
    }
    
    .ctg_blk a {
        font-size: 30px;
    }
    
    .nl-right h3 {
        font-size: 26px;
    }
    
    .nl-right p {
        font-size: 18px;
        margin: 85px 0 55px;
    }
    
    .nl-right span {
        font-size: 18px;
    }
    
    .nl-right a {
        font-size: 20px;
        padding: 15px 30px;
    }
    
    .nl-right {
        padding: 43px 25px 30px;
        height: 460px;
    }
    
    .nl_left {
        height: 460px;
    }
    
    .fkb_text_blk p {
        max-width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    section.Feinkorb-text {
        padding-bottom: 70px;
    }
    
    footer.Footer {
        /* padding: 70px 0 30px; */
    }
    
    .help_link {
        /* padding: 60px 10px 30px; */
    }
    
    .help_link a {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .help_link h5 {
        font-size: 22px;
        height: 40px;
    }
    
    .pay_card ul {
        /* justify-content: space-around; */
    }
    
    .social_link h5 {
        font-size: 18px;
    }
    
    .social_link li a i {
        font-size: 23px;
    }
    
    span.separet {
        width: 2px;
        height: 40px;
    }
    
    .leng h5 {
        font-size: 20px;
    }
    
    .leng a {
        font-size: 20px;
    }    
    .logo-area {
        text-align: center;
    }
    .src_box_more {
        margin: 30px auto;
    }
    section.food-store {
        /* width: max-content; */
        margin: 0 auto 100px;
    }

section.food-store.store_info .container {
    max-width: 80%;
}

a.s_more {
    margin-top: 20px;
}
    
    .mf_food {
        margin: 100px auto 20px;
    }

section.store-product section.food-store .container .mf_food {
    margin-top: 20px;
}

section.food-store.store_info .mf_food {
    width: 100%;
}
section.CashOut_timeLine ul li a {
    font-size: 20px;
}

section.CashOut_timeLine ul {
    max-width: 700px;
}

.cashout_blk {
    text-align: center;
    margin-bottom: 70px;
}

a.c_btn {
    margin: auto;
    margin-bottom: 15px;
}

.cashout_blk p {
    margin: auto;
    margin-bottom: 15px;
}

.cashout_blk.cashout_blk2 p {
    margin-top: 30px;
}

section.CashOut_timeLine {
    margin-bottom: 100px;
}
.your_order {
    margin: auto;
    margin-bottom: 50px;
}

.Deliver_left {
    margin: auto;
}

section.Deliver .row {
    flex-direction: column-reverse;
}
.gender {
    margin-bottom: 30px;
}

.dlry_btn {
    margin-bottom: 30px;
}

.Deliver_left h2 {
    margin-bottom: 20px;
}
.intotal { 
    justify-content: center; 
    flex-wrap: wrap;
    text-align: center;
}
.ingredient-icon input  { 
    height: 33px; 
    padding-bottom: 5px;
}

.hb_sub.carTopFeature ul {
    flex-wrap: wrap;
} 
.hb_sub.carTopFeature {
    padding-top: 5px;
} 
.hb_sub.carTopFeature ul li {
    padding-top: 10px;
}
.mrDetails p:first-child {
    margin-right: 10px;
    margin-left: 10px; 
}














}

 
/* small screen :320px. */
@media (max-width: 767px) {
    .header-area { 
        background: #f3f4f475;
    }
    .service_blk:after {display: none;}
    .h_two_menu {  
        justify-content: start;
        flex-wrap: wrap;
    }
    .h_two_menu a {
        margin: 0;
        margin-top: 15px;
    }
    .header-two a.header-logo span{
        display: none;
    }
    .header-two a.header-logo img {
        max-width: 180px;
    }
    .service_wrp {
        justify-content: space-around;
    }
    
    .service_blk {
        margin: 20px;
        margin-bottom: 10px;
    }
    
    .search_cont h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    
    .input_box {
        max-width: 364px;
        height: 40px;
    }
    
    .search_cont span {
        font-size: 10px;
        max-width: 357px;
    }
    
    .ctg_blk a {
        font-size: 26px;
    }
    
    .nl-right h3 {
        font-size: 20px;
    }
    
    .nl-right p {
        font-size: 16px;
        margin: 38px 0 29px;
    }
    
    .nl-right span {
        font-size: 16px;
    }
    
    .nl-right a {
        font-size: 18px;
        padding: 10px 25px;
    }
    
    .nl-right {
        padding: 41px 20px 30px;
        height: max-content;
    }
    
    .nl_left {
        height: 300px;
        flex: 100%;
    }
    
    .fkb_text_blk p {
        max-width: 90%;
        margin: auto;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    section.Feinkorb-text {
        padding: 50px 0 10px;
    }
    
    footer.Footer {
        /* padding: 55px 0 9px; */
    }
    
    .help_link {
        /* padding: 38px 20px 20px; */
        display: block;
    }

.help_link ul {
    margin-bottom: 30px;
}
    
    .help_link a {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .help_link h5 {
        font-size: 20px;
        height: unset;
        margin-bottom: 20px;
    }
    
    .pay_card ul {
        /* justify-content: space-around; */
        flex-wrap: wrap;
    }
    
    .social_link h5 {
        font-size: 15px;
    }
    
    .social_link li a i {
        font-size: 20px;
    }
    
    span.separet {
    width: 100%;
    height: 1px;
    margin: 14px 0;
    max-width: 275px;
    opacity: .5;
    }
    
    .leng h5 {
        font-size: 18px;
    }
    
    .leng a {
        font-size: 18px;
    }
    .top_menu {
        display: none;
    }
    
    .header_btm {
        display: none;
    }
    
    .nl_wrp {
        flex-wrap: wrap;
        max-width: 400px;
        margin: auto;
    }
    
    .pay_card {
        width: 100%;
    }
    
    .footer_btm {
        flex-wrap: wrap;
        padding: 20px;
    }
    .logo-area img {
        width: 200px;
    }
    
    .main_menu {
        padding: 10px 0;
    }
    
    section.category {
        margin: 30px 0;
    }
    
    .input_box button {
        font-size: 15px;
        padding:  0 15px;
    }
    
    h2.cck_title {
        font-size: 28px;
    }
    
    .nl_left img {
        object-fit: cover;
    }
    
    .nl_left span {
        font-size: 24px;
        left: 30px;
        top: 30px;
    }
    
    .nl_left span:after {
        width: 50px;
        height: 50px;
        left: -14px;
        top: -27%;
    }
    
    section.news_letter { 
        padding: 50px 0;
    }
    
    h2.sv_ttl {
        font-size: 26px;
    }
    
    .service_blk h5 {
        margin-bottom: 10px;
    }
    
    .service_blk:nth-child(4) h5 {
        margin-bottom: 15px;
    }
    
    .fkb_text h4 {
        font-size: 20px;
    }
    
    .fkb_text_blk h5 {
        font-size: 18px;
    }

    
    .leng i {
        width: 40px;
        margin: 0 20px;
    }
    
    .leng i img {
        width: 100%;
    }
    .search_cont {
        margin-bottom: 30px;
    }
    .cooking {
        padding-bottom: 40px;
    }
    .footer-top {
        padding: 60px 25px 30px;
    }
    .pay_card ul li a {
        width: 60px;
    }
    .pay_card ul li {
        margin: 0 10px;
    }
    .src_box_more {
        max-width: 100%;
    }
    
    .mf_food {
        margin: 20px auto 0px;
    }
    
    .mf_food:hover {
        margin: 80px auto 20px;
    }
    
    .mf_food.active {
        margin: 80px auto 20px;
    }

section.store-product section.food-store .container .mf_food.active {
    margin-top: 10px;
}
    
    .mf_food_rate {
        top: -20%;
    }
    
    section.food-store {
        margin-bottom: 50px;
    }

section.store-product section.food-store {
    margin-bottom: 0;
}
    .hb_sub {
        margin-top: 2px;
        padding: 10px 0;
    }

.hb_sub a {
    font-size: 12px;
}

    .mpp span {
        font-size: 18px;
    }
    
    .mpp h2 {
        font-size: 26px;
    }
    
    .mf_reviwe h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    
    .mf_reviwe_cont h1 {
        font-size: 30px;
    }
    
    .mf_reviwe {
        text-align: center;
        margin-bottom: 50px;
    }
    
    .mf_reviwe_right ul li span {
        max-width: 79%;
    }
    
    .mf_reviwe_right ul li {
        align-items: baseline;
        margin-bottom: -4px;
    }
    
    .reviwe_filter {
        justify-content: center;
        margin-top: 50px;
    }

.select_box .nice-select {
}

.reviwe_filter p {
    margin-bottom: 10px;
}
    
    .user_reviwe {
        text-align: left;
    }

a.wr_rev {
    font-size: 18px;
}
    
    .user_reviwe_info {
        align-items: flex-start;
        margin-top: 20px;
    }

.user_reviwe_info a svg {
    width: 20px;
}

.user_reviwe h5 {
    font-size: 16px;
}

.user_reviwe_info a {
    font-size: 16px;
}
    
    .user_reviwe p {
        font-size: 15px;
    }
    
    .user_reviwe .star {
        margin: 10px 0;
    }
    
    .mf_reviwe_cont p {
        font-size: 20px;
    }

    section.store-product .stp_left {
        display: none;
    }
    section.store-product .src_more .container {
        padding: 0;
    }
    
    section.store-product section.food-store .container {
        padding: 0;
    }
    
    section.store-product {
        margin-bottom: 50px;
    }
    .bdr_mfs {
        border-color: #fff;
    }
    
    .stp_sgl_nev button {
        margin-bottom: 20px;
    }
    
    .stp_sgl_nev .mbl_mega_menu ul li a {
        margin-bottom: 15px;
    }
    .stp_pagi_nav a {
        font-size: 20px;
        margin: 0 4px;
    }
    
    .stp_pagi_nav a.active {
        width: 35px;
        height: 35px;
    }
    .get_buy_left {
        margin-bottom: 50px;
    }
    
    .gbr_title {
        margin-bottom: 0px;
    }
    
    section.get_buy {
        margin-bottom: 70px;
    }
    
    .gbr_title h1 {
        font-size: 25px;
    }
    
    .gbr_title h1 p {
        font-size: 16px;
    }
    
    .grb_price span {
        font-size: 24px;
    }
    
    .sec_title h2 {
        font-size: 28px;
    }
    
    .sec_title span {
        font-size: 18px;
    }
    section.CashOut_timeLine ul li a {
        font-size: 15px;
    }
    
    section.CashOut_timeLine ul {
        max-width: 700px;
    }
    
    .cashout_blk {
        text-align: center;
        margin-bottom: 70px;
    }
    
    a.c_btn {
        margin: auto;
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .cashout_blk p {
        margin: auto;
        margin-bottom: 15px;
    }
    
    .cashout_blk.cashout_blk2 p {
        margin-top: 30px;
    }
    
    section.CashOut_timeLine {
        margin: 30px 0 60px;
    }
    .cashout_blk h2 {
        font-size: 22px;
    }
    
    .cashout_blk ul {
        max-width: 376px;
        text-align: left;
        margin: auto;
        margin-bottom: 20px;
    }
    section.CashOut_timeLine ul:before {
        left: 47%;
    }
    section.CashOut_timeLine.en_adrs {
        margin: 30px 0 50px;
    }
    
    section.Deliver .row {
        flex-direction: column-reverse;
    }
    
    a.py_btn {
        font-size: 14px;
        padding: 10px;
    }
    
    .your_order h2 {
        font-size: 22px;
    }
    
    .total_order_blk p {
        margin-bottom: 10px;
    }
    
    .your_order {
        margin-bottom: 41px;
    }
    
    .Deliver_left h2 {
        font-size: 22px;
    }
    
    .dlry_btn {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .dlry_btn a {
        margin-bottom: 10px;
        font-size: 16px;
    }
    
    .dlry_btn {}
    
    .gender {
        width: max-content;
        margin: auto;
        margin-bottom: 40px;
    }
    
    .gender a {
        width: 115px;
        font-size: 16px;
    }
    
    .Deliver_form label input {
        margin-top: 5px;
        height: 40px;
        width: 100% !important;
    }
    
    .dlv_input_wrp {
        flex-wrap: wrap;
    }
    
    .dlv_input_wrp label:first-child {
        width: 100%;
    }
    
    .dlv_input_wrp label {
        width: 47%;
    }
    
    .submit_wrp {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .submit_wrp a.py_btn {
        margin-bottom: 10px;
    }
    
    span.checkmark {
        width: 30px;
        height: 30px;
    }
    
    .containerr .checkmark:after {
        width: 9px;
        height: 18px;
        border-width: 0 2px 2px 0;
        left: 10px;
    }
    
    section.Deliver {
        margin-bottom: 50px;
    }



    .intotal { 
        justify-content: center; 
        flex-wrap: wrap; 
    }
    .ingredient-icon input  { 
        height: 33px; 
        padding-bottom: 5px;
    }
    .thetble {
        overflow: auto;
    }
    
    .productCartsDetails img {
        margin: 0 20px;
        margin-left: 0;
    }
    
    .thetble table {
        width: 500px;
    }
    .deliverFeatures label { 
        font-size: 14px;
        margin-bottom: 10px;
    }
    a.btn_card { 
        padding: 6px 11px; 
        font-size: 15px;
    }
    .hb_sub.carTopFeature ul {
        flex-wrap: wrap;
    } 
    .hb_sub.carTopFeature {
        padding-top: 5px;
    } 
    .hb_sub.carTopFeature ul li {
        padding-top: 10px;
    }
    .loginBlk { 
        flex-wrap: wrap;
    }
    .loginwrp label input {
        display: block;
        width: 100%;
        height: 40px;
    }
    .formBtm {
        flex-wrap: wrap;
        margin-top: 15px;
        flex-direction: column-reverse;
    }
    .formBtm-wrp {
        margin-top: 10px;
    }
    .formBtm-wrp p {
        margin: 0;  
    }
    .details_payment_more { 
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .mrDetails { 
        width: 100%;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    .dasboard-profile ul li {
        display: block;
        text-align: center;
    }
    .dasboard-profile ul li span{
        display: block;
    }
    .dasboard-profile ul li span:first-child {
        width: 100%; 
    }
    .dasboard-profile a.btn_card {
        margin: auto;
        margin-top: 35px; 
    }
    .dasboard-area {
        padding: 40px 0;
    }
    .dasboard-order {
        overflow: auto;
    }
    
    .dasboard-order table {
        width: 500px;
    }
    .dahl-icon i {
        font-size: 16px; 
        margin-right: 0px; 
    }
    .indian-dahl {
        margin-bottom: 30px; 
    }
    .dasboard-notification ul li{
        display: block;
    }
    .modal-body {
        padding: 15px; 
    }
body{
    font-size: 14px;
}
.modal-header h5 {
    font-size: 26px;
    margin: 0;
}
.modal-header {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 5px;
}
.modal-header button.btn-close {
    width: 15px;
    height: 15px; 
    right: 20px;
    top: 18px;
}
input { 
    height: 40px; 
}
.tos-area {
    padding: 30px 0;
}
.help-center-banner {
    padding: 60px 0;
    padding-top: 100px; 
}
.help-center-banner h1 {
    font-size: 32px;
    line-height: 33px;
}
.helpOptions .help-single-blk {
    width: 245px;
    margin: auto;
    margin-bottom: 20px;
}
.help-center-area {
    margin-top: 60px;
}
.help-details-wrp { 
    padding: 30px; 
    margin: 50px 0;
} 
.help-details-wrp h4 { 
    margin-bottom: 30px;
    margin-top: 15px;
}
.faq-wrps h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.help-center-contents {
    padding: 50px 0; 
}
.dasboard_section_title h3 button.dmBtn{
    display: block;
}








}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
    
    .help_link {
    padding-left: 50px;
}
section.food-store .col-lg-3.col-md-6 {
    flex: 0 0 50%;
}

.mf_food {
    margin: 80px auto 20px;
}

.mf_food_cont {
    padding-left: 20px;
}
 
}
